<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-padding">
    Try resizing your screen
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>

  <ion-grid>
    <ion-row margin>
      <ion-col size="12" size-sm size-lg="6">test</ion-col>
      <ion-col size="12" size-sm size-lg="3">test</ion-col>
      <ion-col size="12" size-sm size-lg="3">test</ion-col>
    </ion-row>
    <ion-row margin>
      <ion-col size="12" size-sm size-lg="6">test</ion-col>
      <ion-col size="12" size-sm size-lg="2">test</ion-col>
      <ion-col size="12" size-sm size-lg="2" >test</ion-col>
      <ion-col size="12" size-sm size-lg="2" >test</ion-col>
    </ion-row>
    <ion-row margin>
      <ion-col size="12" size-sm size-lg="2">test</ion-col>
      <ion-col size="12" size-sm size-lg="2">test</ion-col>
      <ion-col size="12" size-sm size-lg="2">test</ion-col>
      <ion-col size="12" size-sm size-lg="2" >test</ion-col>
      <ion-col size="12" size-sm size-lg="4" >test</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
